<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/error_styles.css" />
    <script src="/js/return.js" defer></script>
  </head>
  <body class="body">
    <main class="error-page">
      <div class="error-header-wrapper">
        <section class="error-header">Payment Failed</section>
      </div>
      <content class="error-page-content">
        <div class="error-image-wrapper">
          <img src="/images/fail.png" class="error-image" />
        </div>
        <div class="message-wrapper">
          <section class="error-message">
            The information provided in the form was invalid. The payment was
            unable to be sent successfully.
          </section>
        </div>
        <button id="back">Back to Form</button>
      </content>
    </main>
  </body>
</html>
