<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/success_styles.css" />
    <script src="/js/return.js" defer></script>
  </head>
  <body class="body">
    <main class="success-page">
      <div class="success-header-wrapper">
        <section class="success-header">Payment Successful</section>
      </div>
      <content class="success-page-content">
        <div class="success-image-wrapper">
          <img src="/images/checkmark.png" class="success-image" />
        </div>
        <div class="message-wrapper">
          <section class="success-message">
            The payment was sent successfully.<br />
            Thank you for using Pay Your Friends!
          </section>
        </div>
        <button id="back">Back to Form</button>
      </content>
    </main>
  </body>
</html>
