<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" media="screen and (min-width: 750px)" href="css/course_selection_styles.css" />
    <link rel="stylesheet" media="screen and (max-width: 749px)" href="css/course_selection_mobilestyles.css" />
    <script src="js/course_selection_scripts.js" defer></script>
    <script src="/js/common.js" type="module"></script>
    <link
      rel="manifest"
      href="/manifest.webmanifest"
      crossorigin="use-credentials"
    />
    <meta name="theme-color" content="#252831" />
    <link rel="apple-touch-icon" href="/images/icon_192.png" />
    <link rel="icon" type="image/png" href="/images/icon_192.png" />
  </head>
  <body class="body">
    <main class="main">
      <div class="header-wrapper">
        <h1>Select Course</h1>
      </div>
      <section class="courses-wrapper">
        <section id="courses" class="courses"></section>
      </section>
    </main>
    <div class="logout-button-wrapper">
      <button id="logout" class="logout-button">Logout</button>
    </div>
  </body>
</html>
