<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/discussion_styles.css" />
    <script src="js/discussion_scripts.js" type="module" defer></script>
    <script src="/js/common.js" type="module"></script>
    <title>Discussion</title>
    <link
      rel="manifest"
      href="/manifest.webmanifest"
      crossorigin="use-credentials"
    />
    <meta name="theme-color" content="#252831" />
    <link rel="apple-touch-icon" href="/images/icon_192.png" />
    <link rel="icon" type="image/png" href="/images/icon_192.png" />
  </head>
  <body>
    <header>
      <h1>QuizMe</h1>
    </header>
    <div class="options-wrapper">
      <button class="option" id="study">Study</button>
      <button class="option" id="option2">Discuss</button>
    </div>
    <div class="flashcard-wrapper" id="flashcard-wrapper">
      <!--<div class="flashcard" id="current_post">
            <h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit fuga praesentium dicta corporis necessitatibus. Quidem necessitatibus facere sint nam blanditiis magnam itaque autem dicta expedita consequuntur, repellendus perspiciatis doloribus et.</h2>
        </div>
        <div class="flashcard">
            <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, quam maiores praesentium numquam eos officia fuga eaque, exercitationem porro animi similique, maxime nobis suscipit blanditiis error odit laborum? Odit, voluptatibus!</h2>
        </div>
        <div class="flashcard">
            <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, quam maiores praesentium numquam eos officia fuga eaque, exercitationem porro animi similique, maxime nobis suscipit blanditiis error odit laborum? Odit, voluptatibus!</h2>
        </div>-->
    </div>
    <div class="question-wrapper">
      <button class="question" id="post_question">Post a Question</button>
    </div>
    <div class="back-button-wrapper">
      <button id="back-button" class="back-button">Back</button>
    </div>
  </body>
</html>
