<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/discussion_replies_styles.css" />
    <script src="/js/common.js" type="module"></script>
    <script src="/js/discussion_replies_scripts.js" type="module"></script>
    <title>Discussion Replies</title>
    <link
      rel="manifest"
      href="/manifest.webmanifest"
      crossorigin="use-credentials"
    />
    <meta name="theme-color" content="#252831" />
    <link rel="apple-touch-icon" href="/images/icon_192.png" />
    <link rel="icon" type="image/png" href="/images/icon_192.png" />
  </head>
  <body>
    <header>
      <h1>QuizMe</h1>
    </header>
    <div class="flashcard-wrapper">
      <div class="flashcard" id="main_post">
        <!--<h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit fuga praesentium dicta corporis necessitatibus. Quidem necessitatibus facere sint nam blanditiis magnam itaque autem dicta expedita consequuntur, repellendus perspiciatis doloribus et.</h2>-->
        <textarea
          cols="68"
          rows="4"
          class="answer-text"
          id="reply-message"
          placeholder="Leave a reply..."
        ></textarea>
        <button class="reply-button" id="reply-button">Reply</button>
      </div>
    </div>
    <div class="replies-wrapper" id="replies-wrapper">
      <!--<div class="reply">
            <h2>Truth of the matter.</h2>
            <textarea cols="68" rows="2" class="answer-text" placeholder="Leave a reply..."></textarea>
            <button class="reply-button2">Reply</button>
            <div class="comment-wrapper">
                <div class="comment">
                    <p>Thanks for the response.</p>
                </div>
            </div>
        </div>
        <div class="reply">
            <h2>I am also confused on this question</h2>
            <textarea cols="68" rows="2" class="answer-text" placeholder="Leave a reply..."></textarea>
            <button class="reply-button2">Reply</button>
        </div>
        <div class="reply">
            <h2>Have you tried using the new formula we just learned?</h2>
            <textarea cols="68" rows="2" class="answer-text" placeholder="Leave a reply..."></textarea>
            <button class="reply-button2">Reply</button>
            <div class="comment-wrapper">
                <div class="comment">
                    <p>I have not yet actually, let me try that.</p>
                </div>
            </div>
        </div>-->
    </div>
    <div class="back-button-wrapper">
      <button id="back-button" class="back-button">Back</button>
    </div>
  </body>
</html>
