<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/offline.css" />
    <title>Offline</title>
    <link
      rel="manifest"
      href="/manifest.webmanifest"
      crossorigin="use-credentials"
    />
    <meta name="theme-color" content="#252831" />
    <link rel="apple-touch-icon" href="/images/icon_192.png" />
    <link rel="icon" type="image/png" href="/images/icon_192.png" />
  </head>
  <body>
    <header>
      <h1>QuizMe</h1>
    </header>
    <h2>You are offline</h2>
    <h2>This page is not currently available</h2>
    </div>
  </body>
</html>
