<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      media="screen and (min-width: 530px)"
      href="css/register_styles.css"
    />
    <link
      rel="stylesheet"
      media="screen and (max-width: 529px)"
      href="css/register_mobilestyles.css"
    />
    <script src="js/register_scripts.js" type="module"></script>
    <link
      rel="manifest"
      href="/manifest.webmanifest"
      crossorigin="use-credentials"
    />
    <meta name="theme-color" content="#252831" />
    <link rel="apple-touch-icon" href="/images/icon_192.png" />
    <link rel="icon" type="image/png" href="/images/icon_192.png" />
    <script src="/js/common.js" type="module"></script>
  </head>
  <body class="body">
    <main class="register-page">
      <section class="app-info">
        <div class="title-wrapper">
          <section class="title">QuizMe</section>
        </div>
        <div class="img-wrapper">
          <img src="images/logo.png" />
        </div>
      </section>
      <div class="register-wrapper">
        <form class="register">
          <div class="register-header-wrapper">
            <section class="register-header">Register</section>
          </div>
          <input
            id="email"
            class="email"
            type="email"
            placeholder="Email..."
            pattern="^[\w.+\-]+@ncsu\.edu$"
            required
          />
          <input
            id="confirm-email"
            class="email"
            type="email"
            pattern="^[\w.+\-]+@ncsu\.edu$"
            placeholder="Confirm Email..."
            required
          />
          <input
            id="password"
            class="password"
            type="password"
            placeholder="Password..."
            minlength="8"
            placeholder="Password..."
            required
          />
          <input
            id="confirm-password"
            class="password"
            type="password"
            placeholder="Confirm Password..."
            minlength="8"
            required
          />
          <button id="register-button">Register</button>
        </form>
      </div>
    </main>
    <div class="back-button-wrapper">
      <button id="back-button" class="back-button">Back</button>
    </div>
  </body>
</html>
