<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/studyset.css" />
    <script src="js/studyset_scripts.js" type="module" defer></script>
    <script src="/js/common.js" type="module"></script>
    <title>StudySet</title>
    <link
      rel="manifest"
      href="/manifest.webmanifest"
      crossorigin="use-credentials"
    />
    <meta name="theme-color" content="#252831" />
    <link rel="apple-touch-icon" href="/images/icon_192.png" />
    <link rel="icon" type="image/png" href="/images/icon_192.png" />
  </head>
  <body>
    <header>
      <h1>QuizMe</h1>
    </header>
    <div class="options-wrapper">
      <button class="option" id="study-button">Study</button>
      <button class="option" id="discuss">Discuss</button>
    </div>
    <div id="flashcard-wrapper" class="flashcard-wrapper">
      <div class="create-flashcard">
        <label>Question</label>
        <input type="text" id="question-input" />
        <label>Answer</label>
        <input type="text" id="answer-input" />
        <button id="create-flashcard">Create Flashcard</button>
      </div>
    </div>
    <div class="back-button-wrapper">
      <button id="back-button" class="back-button">Back</button>
    </div>
  </body>
</html>
