.body {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 30vw 40vw 30vw;
  grid-template-rows: 5vh 90vh 5vh;
  margin: 0;
  padding: 0;
  background-color: rgb(215, 210, 210);
}

.error-page {
  width: 100%;
  height: 100%;
  grid-row: 2;
  grid-column: 2;
  box-shadow: 0dvw 0dvw 1.5dvw black;
  display: grid;
  grid-template-rows: 15% 85%;
  grid-auto-flow: row;
  border: 2px solid black;
  background-color: red;
}

.error-header-wrapper {
  width: 100%;
  /* height: 100%; */
  background: red;
  margin: auto;
}
.error-header {
  background: red;
  color: white;
  font-size: 3dvw;
  font-weight: bold;
  text-align: center;
  width: 100%;
  height: 100%;
}

.error-page-content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 35% 30% 35%;
  grid-auto-flow: row;
  background-color: white;
}

.error-image-wrapper {
  width: 30%;
  height: 90%;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.error-image {
  width: 100%;
  height: 100%;
}

.message-wrapper {
  width: 80%;
  margin: auto;
  background-color: white;
}
.error-message {
  font-size: 2dvw;
  text-align: center;
}

button {
  width: 50%;
  height: 50%;
  background-color: red;
  color: white;
  box-shadow: 0dvw 0dvw 0.5dvw black;
  margin: auto;
  border: 3px solid black;
  font-size: 2dvw;
}

button:hover {
  background-color: darkred;
}
